
*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body{
    font-family: 'PT Sans', sans-serif;
    background-color:  #f1f0faa2;
    margin: auto;
}

:root {
    --primary-color: #05a2eb;
    --gray: #F3F4F6;
    --dark-gray:#6B7280;
}

hr{
    margin: 2rem 0;
}

.header h3{
    color: var(--dark-gray);
    text-align: center;
}


.container {
    margin: auto;
    max-width: 650px;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}



.link-primary{
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    width: max-content;
    min-width: 140px;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.link-secondary{
    text-decoration: none;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    width: max-content;
    min-width: 140px;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
}


.unordered{
    list-style: none;
}

.inline-list li{
    display: inline;
    padding: 0 1rem;
}

span{
    color:  #0597db;
}

.navigation{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem 1rem 0 1rem;
    border-radius: 0.2rem;
}

.navigation ul{
    width: 100%;
    text-align: right;
    margin: 0;
}

.navigation .brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0.7rem;
    color: #fff;
}

.navigation li{
    display: inline-block;
    padding: 1rem;
}

.navigation a {
    text-decoration: none;
    color: var(--gray);
    font-size: 0.9rem;
}

.navigation a:hover {
    color: #fff;
}

.navigation .link-active{
    border: solid 1px #fff;
    color: #fff;
    padding: 0.2rem 0.8rem;
    border-radius: 0.2rem;
    font-weight: bold;
}

.navigation .logo{
    display: flex;
    max-width: 50%;

}

.navigation .logo-image{
    max-width: 40px;
}

header{
    padding: 3rem 1rem;
}

.header-image{
    width: 100%;
    max-width: 500px;
    display: block;
}

.header-text{
    text-align: center;
    color: var(--dark-gray);
}


.section {
    padding: 2rem 0rem;
}

.section h2 {
    text-align: center;
}

.ow {
    background-color: var(--gray);
}

.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 0rem;
    text-align: center;
}
.footer .heading {
    font-weight: bold;
    font-size: larger;
  
}

.footer ul {
    padding-inline-start: 0px;
}


.footer li a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1rem;
}

